{% if parameters.restricted_content %}

    <div class="w-full h-full text-slate-600 flex flex-col items-center justify-center space-y-4">
        <h1 class="text-xl font-semibold">No tienes acceso al contenido</h1>
        <p class="text-lg font-medium">Sí eres usuario activo en el programa por favor contáctanos para poder darte acceso:</p>
        <a href="https://wa.link/wsms35" target="_blank"
            class="w-full lg:w-2/5 text-white bg-[#009ca6] rounded-xl py-2 px-4 inline-flex items-center focus-visible:outline-none focus-visible:ring focus-visible:ring-[#95d8d8]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="w-6 h-6">
                <path
                    d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z" />
                <path
                    d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z" />
            </svg>
            <span class="w-full text-start lg:text-center font-semibold">Conversa con
                nosotros</span>
        </a>
    </div>

{% else %}

    {% if parameters.type_content == type_content.TESTIMONIALS.value %}
    <!-- Testimonials Header -->
    <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4">
        <figure
            class="flex flex-row items-center justify-around bg-slate-200 rounded-xl py-2 px-2 md:px-4 space-x-4">
            <img class="w-1/4 bg-slate-200 object-cover object-left aspect-[1-1] rounded-full"
                width="150"
                height="150"
                src="{{ content.images.profile_photo }}"
                alt="{{ content.main_header }}" />
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-link-45deg text-[#009ca6]" viewBox="0 0 16 16">
                <path
                    d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                <path
                    d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
            </svg>
            <img class="w-1/4 bg-slate-200 object-cover object-left aspect-[1-1] rounded-full"
                width="150"
                height="150"
                src="{{ content.images.brand_logotype }}"
                alt="{{ content.main_header }}" />
        </figure>
        <div class="lg:w-3/5 flex flex-col justify-start">
            <h1 class="text-md text-slate-600 font-bold uppercase mb-2">
                {{ content.main_header }}
            </h1>
            <a href="{{ content.profile_url }}" target="_blank"
                class="lg:w-4/5 text-white bg-[#009ca6] rounded-xl py-1 px-2 inline-flex items-center focus-visible:outline-none focus-visible:ring focus-visible:ring-[#95d8d8]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor"
                    class="bi bi-linkedin bi bi-person-video2 min-w-[24px] mr-2"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                </svg>
                <span class="w-full text-center text-sm font-semibold">Ver perfil de
                    Linkedin</span>
            </a>
        </div>
    </div>
    <!-- End Testimonials Header -->
    <iframe class="bg-slate-200 rounded-xl aspect-[16/9]"
        src="https://www.youtube.com/embed/{{ content.content_url }}"
        title="YouTube video player" frameborder="0"
        allow="encrypted-media; picture-in-picture; "
        allowfullscreen></iframe>
    {% endif %}

    {% if parameters.type_content == type_content.SURICATUM_TV.value %}
    <!-- Suricatum TV Header -->
    <h1 class="text-lg text-slate-600 font-bold uppercase">
        {{ content.content_title }}
    </h1>
    <div class="lg:w-1/2 text-white bg-[#009ca6] rounded-xl p-1 px-2 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-play-fill min-w-[24px] mr-2" viewBox="0 0 16 16">
            <path
                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" />
        </svg>
        <span class="text-sm font-semibold line-clamp-1">{{ content.tag }}</span>
    </div>
    <!-- End Suricatum TV Header -->
    <div class="w-full h-full" style="position: relative; padding-top: 56.25%;">
        <iframe
            class="bg-slate-200 rounded-xl"
            {% if parameters.is_contain_default_cover %}
            src="https://customer-fulaoxikt2d31w05.cloudflarestream.com/{{ content.content_url }}/iframe"
            {% else %}
            src="https://customer-fulaoxikt2d31w05.cloudflarestream.com/{{ content.content_url }}/iframe?poster={{ content.images.content_cover }}%3Ftime%3D%26height%3D600"
            {% endif %}
            style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
            allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
            allowfullscreen="true"></iframe>
    </div>
    {% endif %}

{% endif %}